@media (max-width:900px){
    .mobile {
        display: none;
    }
    #footer .row{
        flex-wrap: wrap;
    }
    #footer .row> span {
        margin-top: 10px;
    }
    .max-wd{
        flex-wrap: wrap;
    }
}

@media (max-width:500px){
    .form {
        background-color: #fafafa;
        border: none;
    }

    .form2 {
        background-color: #fafafa;
        border: none;
        padding: 20px 36px;
    }
    .txt:before, .txt:after {
        width: 4rem;
    }
    .logo {
        margin-top: 20px;
        width: 80%;
    }
    .str-link {
        width: 45%;
    }
}